$gray-light: #dadada;
$gray-dark: #919191;

.card {
  padding: 0;
}

.searchBar {
  font-family: "Lato", sans-serif, FontAwesome;
  margin: 0.5rem 1.4rem;
  padding: 0.5rem;
  width: 80%;
  border-radius: 1rem;
  border-top: $gray-dark 2px solid;
  border-left: $gray-dark 2px solid;
  border-right: $gray-light 2px solid;
  border-bottom: $gray-light 2px solid;

  &:focus {
    outline: none;
  }
}

.cardList {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 48em) {
  .searchBar {
    width: 20%;
    margin: 1rem 1rem 1rem 2.5rem;
  }
}
