<!-- 
  <h1>This is a {{ title }}</h1>

<input type="text" name="item" [(ngModel)]="item" />

{{ item }}

<button (click)="addItem(item)">Add Item</button>
<ul>
  <li *ngIf="items.length === 0">Empty list</li>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }}

    <button (click)="deleteItem(i)">X</button>
  </li>
</ul> 
<button *ngIf="items.length > 0" (click)="deleteAll()">Delete All Items</button>
-->

<router-outlet></router-outlet>

<header>
  <h2>CardShop</h2>
</header>
<main>
  <input
    type="text"
    id="search-text"
    aria-describedby="search-text"
    [(ngModel)]="searchText"
    placeholder="Search by card name"
    autofocus
  />

  <section class="cardList">
    <app-card
      class="card"
      *ngFor="let card of cards | filter: searchText"
      (cardClicked)="clickCard($event)"
      [card]="card"
    ></app-card>
  </section>
</main>
