<h1>This is a {{ title }}</h1>

<input type="text" name="item" [(ngModel)]="item" />

{{ item }}

<button (click)="addItem(item)">Add Item</button>
<ul>
  <li *ngIf="items.length === 0">Empty list</li>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }}

    <button (click)="deleteItem(i)">X</button>
  </li>
</ul>

<button *ngIf="items.length > 0" (click)="deleteAll()">Delete All Items</button>

<div *ngFor="let card of cards" [ngSwitch]="card.supertypes">
  <h4>
    {{ card.name }}
  </h4>
  <img [src]="card.imageUrl" alt="{{ card.name }}" />
  <p *ngSwitchCase="card.supertypes">{{ card.supertypes }}</p>
  <p>Rarity: {{ card.rarity }}</p>
  <p>{{ card.price }}</p>
</div>

<app-card></app-card>
