/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #636c6e;
}

header {
  background-color: #fff;
  padding: 1rem 0;
}
header > h2 {
  margin: 0;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
}
